/*doc
---
title: "Colors"
name: colors
category: "Basics"
---
```html_example
<p>Vestibulum at quam fermentum, accumsan odio sit amet, varius justo.</p>
<p>Nullam venenatis neque non sem accumsan, vitae laoreet urna condimentum.</p>
<p>Praesent velit sem, egestas nec aliquet et, sollicitudin ut dui.</p>
<p>Proin nec justo faucibus, pulvinar dolor vitae, tristique est.</p>
<p>Phasellus auctor egestas auctor. Aliquam a neque a nunc tincidunt sodales sit amet a sapien.</p>
<p>In hac habitasse platea dictumst. </p>
```
*/
