html {
  font-size: 16px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #B0BEC5;
  display: table;
  font-weight: 100;
  font-family: 'Lato';
}

.container {
  height: 100vh;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 96px;
  margin-bottom: 40px;
}

.quote {
  font-size: 24px;
}
